@import "../../lib/node_modules/bootstrap/scss/bootstrap";
.board{
    padding: 25px;
    min-height: 700px;
    background-color: whitesmoke;
}
.padding25{
    padding: 25px;
}
.h-700{
    // margin :15px; 
    min-height: 700px ;
}